* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #0b0b0b;
  background-image: radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(#212121 20%, transparent 20%);
  background-color: #fafafa;
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
  
}
@media (min-width: 1920px) {
  body{
    position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
}
.header__wrapper,
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #538536;
  padding: 0 100px;
  height: 100px;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu__item {
  font-size: 1.5em;
  font-weight: 400;
  color: #0b0b0b;
  transition: 0.3s ease;
}

.menu__item-img {
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
}
.menu__item-img:hover {
  filter: invert(62%) sepia(20%) saturate(856%) hue-rotate(45deg)
    brightness(119%) contrast(119%);
}
.menu__item:hover {
  color: #baff66;
}
.main__wrapper {
  padding: 0 100px;
  background-color: #fafafa;
}
.section__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}
.contact__info h1 {
  color: #0b0b0b;
  font-size: 2em;
  font-weight: 500;
}
.contact__info h2 {
  color: rgb(115, 108, 94);
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 10px;
}
.contact__wrapper a {
  color: rgb(115, 108, 94);
  font-size: 1em;
  font-weight: 100;
  margin-top: 10px;
}
.contact__info-img img {
  border: 1px solid #000000;
  width: 200px;
}

.title__section {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 680px;
  }
  .header__wrapper,
  .footer__wrapper,
  .main__wrapper {
    padding: 0 40px;
  }
  .contact__info-img img {
    display: none;
  }
  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }
  .menu__burger span {
    position: absolute;
    background-color: #0b0b0b;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::before,
  .menu__burger:after {
    content: "";
    background-color: #0b0b0b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger:before {
    top: 0;
  }
  .menu__burger:after {
    bottom: 0;
  }
  .menu__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: transparent;
  }
  .menu__wrapper.active {
    top: 35px;
    margin-left: 10%;
  }
}
